@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
  /*--main-font: 'Slabo 27px', serif;*/
  /*--main-font: 'Playfair Display', serif;*/
  --main-font: 'Cormorant Garamond', serif;
  /*--main-font: 'Marcellus SC', serif;*/
  /*--main-font: 'Nixie One', cursive;*/
  /*--main-font: 'Cormorant', serif;*/
  /*--main-font: 'Rasa', serif;*/
  --main-header: 'Playfair Display', serif;
  --main-body: 'EB Garamond', serif;
  --main-intro: 'Muli', serif;
}

strong {
  font-size: 20px;
  color: white;
  letter-spacing: 3px;
  font-variant: small-caps;
  text-shadow: 0px 0px 12px black;
}

.logo {
  width: 250px;
}

.intro-logo {
  height: 5em;
  margin: auto;
}

body {
  /*background: url('../public/img/fog.jpg');*/
  /*background-attachment: fixed;*/
  /*background-position: center;*/
  font-family: var(--main-font);
}

/*
||||||||||||||||||||||| ABOUT |||||||||||||||||||||||
 */

.pamela-header {
  background: url('https://static.pexels.com/photos/4988/beach-palms.jpg');
  background-position: 90% 80%;
  padding-bottom: 5%;
}

.offering-header {
  background-image: url('../public/img/teamwork.jpeg');
  background-size: 100%;
  background-attachment: fixed;
  height: 550px;
}

.about-picture {
  background: url('../public/img/about-background.jpg');
  background-position: center;
  background-size: 100%;
  /*padding-bottom: 5%;*/
  height: 400px;
  background-attachment: fixed;
}

.bio-picture {
  background: url('../public/img/bio-pamela.jpg');
  background-position: 0 200%;
  background-size: 100%;
  /*padding-bottom: 5%;*/
  height: 400px;
  background-attachment: fixed;
}

.about-container {
  text-align: center;
  background-color: rgba(255,255,255,0.6);
  color: black;
}

.about-quote {
  font-weight: 800;
  font-size: 19px;
  margin: 1.5% 0;
  text-align: left;
  font-family:  var(--main-header);
}

.about-author {
  font-size: 17px;
  font-family:  var(--main-header);
}

.about-subheader {
  text-align: center;
  margin: auto;
  font-weight: 800;
  color: white;
  text-shadow: 0 0 12px black;
  font-size: 23px;
}

.about-me {
  white-space: pre-wrap;
  text-align: left;
  font-size: 20px;
  font-family:  var(--main-body);
}

.about-header {
  letter-spacing: 1px;
  margin: auto;
  font-size: 35px;
  padding-top: 5%;
  padding-bottom: 1%;
  font-family: var(--main-header);
  font-weight: 800;
  color: white;
  text-shadow: 0 0 12px black;
}

.pamela-photo {
  background: url('../public/img/Pamela.Jpg');
  /*background-attachment: fixed;*/
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 1.5% 4%;
}

.about-photo {
  background: url('../public/img/about-pamela.jpg');
  /*background-attachment: fixed;*/
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 1.5% 4%;
}

.about-divide {
  margin: auto;
  padding: 1%;
  font-weight: 800;
  font-family: var(--main-font);
  font-size: 120%;
}

.line-decoration {
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 5px 0 3%;
}

.about-info {
  margin-bottom: 5%;
}

.about-credentials-title {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px;
}

.about-credentials {
  border-left: 3px solid rgba(0,0,0,0.2);
  text-align: left;
}

.about-credentials-text {
  padding-left: 5%;
  font-size: 17px;
}

.about-credentials-text:hover {
  padding-left: 7%;
  font-size: 17px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #66d7e5;
  -webkit-transition: all 350ms ease-in;
  -webkit-transform: scale(1.05);
  -ms-transition: all 350ms ease-in;
  -ms-transform: scale(1.05);
  -moz-transition: all 350ms ease-in;
  -moz-transform: scale(1.05);
  transition: all 350ms ease-in;
  transform: scale(1.05);
}

.about-institution {
  font-style: italic;
  margin-bottom: -1%;
}

/*
||||||||||||||||||||||| NAVBAR |||||||||||||||||||||||
 */

.menu {
  left: 1010px !important;
}

.menu-button {
  font-size: 20px;
  font-weight: 800;
  color: white;
  text-shadow: 0px 0px 12px black;
  outline: none;
  border: none;
 }

.menu-button:hover {
  cursor: pointer;
  outline: none;
  border: none;
}

.menu-button:active {
  cursor: pointer;
  outline: none;
  border: none;
}

.theme--menuItem--gEXk4-b1, .menu-item {
  text-align: center !important;
}

.theme--menu--3P9oUbIV:not(.theme--static--22s5QI3f) > .theme--outline--2cbFBtpz {
  background: transparent;
  /*background: rgba(0,0,0,0.4);*/
}

.theme--menu--3P9oUbIV:not(.theme--static--22s5QI3f).theme--active--2Y5ehQtw {
  margin-top: 45%;
}

.theme--menu--3P9oUbIV:not(.theme--static--22s5QI3f).theme--active--2Y5ehQtw {
  background: rgba(0,0,0,0.2);
}

.theme--menu--3P9oUbIV.theme--topRight--mk08KTws {
  top: -7px !important;
}

#navbarNavDropdown{
  flex-direction: row-reverse !important;
}

.mr-auto {
  margin-right: 0 !important;
}

.navbar {
  background-color: rgba(0,0,0,0.2);
  /*background-color: rgba(105,215,229,0.5);*/
  padding: 1% 5%;
  font-weight: 800
}

.btn-secondary {
  background: none !important;
  border: none !important;
  font-family: var(--main-font);
}

.btn {
  -webkit-appearance: none !important;
  border: none !important;
  /*padding: 0 !important;*/
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  margin-top: 2px !important;
  padding-left: 35px !important;
  border-radius: 5px !important;
}

.dropdown-menu {
  /*background: rgba(0,0,0,0.4);*/
  background: rgba(0,0,0,0.2) !important;
  left: -190px !important;
  top: 62px;
  border: none !important;
  /*-ms-transform: translate(-33%, 0%);*/
  /*-webkit-transform: translate(-33%, 0%);*/
  /*transform: translate(-33%, 0%);*/
}

/*.navbar-toggleable-md .navbar-collapse {
  width: 75% !important;
}*/

.theme--menuItem--gEXk4-b1:not(.theme--disabled--3P4e_poE):hover, .dropdown-item:hover {
  cursor: auto !important;
  background-color: #66d7e5 !important;
}

.nav-link, .menu-item {
  font-family: var(--main-font) !important;
  color: white !important;
  text-shadow: 0px 0px 12px black !important;
  font-weight: 800 !important;
  font-size: 20px !important;
  letter-spacing: 1.5px;
}

.theme--neutral--3ViU32p4:not([disabled]).theme--flat--2JPw5a_I, .theme--neutral--3ViU32p4:not([disabled]).theme--toggle--3xRDdAad {
  font-family: var(--main-font) !important;
  color: white !important;
  text-shadow: 0px 0px 12px black !important;
  font-weight: 800 !important;
  letter-spacing: 1.5px;
  margin-top: 2%;
  width: 150px;
  outline: none;
  border: none;
  margin-left: -20%;
}

.theme--neutral--3ViU32p4:not([disabled]).theme--flat--2JPw5a_I, .theme--neutral--3ViU32p4:not([disabled]).theme--toggle--3xRDdAad:active {
  outline: none;
  border: none;
}

.nav-menu {
  text-align: center;
}

a:hover {
  text-decoration: none !important;
}

.nav-menu:hover, {
  background-color: #c1c1c1;
}
/*.navMaster {
  position: fixed;
}*/

/*
||||||||||||||||||||||| PAGEHEADER |||||||||||||||||||||||
 */
 hr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: 5px;
  /*background-color: rgba(102,215,229,0.3);*/
 }

 @keyframes slideInFromLeft {
   0% {
     transform: translateX(-100%);
   }
   100% {
     transform: translateX(0);
   }
 }

 @keyframes slideInFromTop {
   0% {
     transform: translateY(-100%);
   }
   100% {
     transform: translateY(0);
   }
 }

 .home-nav {
  animation: 1s ease-out 0s 1 slideInFromTop;
 }

.pageHeader {
  text-align: center;
  /*animation: 1s ease-out 0s 1 slideInFromLeft;*/
  background-image: url('../public/img/oils.jpg');
  background-position: 40% 70%;
  background-attachment: fixed;
  /*padding-bottom: 5%;*/
  height: 400px;
  /*background-position: center;*/
}

.helpful-resources {
  font-family: var(--main-font);
  letter-spacing: 1.5px;
  font-size: 35px;
  font-weight: 800;
  text-align: center;
  padding: 1%;
}

.name-header {
  font-size: calc(35px + 2vw);
  letter-spacing: 1px;
  padding-top: 60px;
  color: black;
}

.nunm, .nunm:hover, .nunm:focus, .description-header {
  font-weight: 800;
  letter-spacing: 1.5px;
  font-size: calc(15px + 0.5vw);
  padding-top: 10px;
  color: black;
  text-decoration: none;
}

.nunm:hover {
  color: #66D7E5;
}

/*
||||||||||||||||||||||| CONTACT |||||||||||||||||||||||
 */
.form-styling, .contact-header {
  padding-left: 5%;
  margin: 0px 6%;
}

.contact-picture {
  background: url('../public/img/contact.jpeg');
  /*background-position: center;*/
  /*background-position: 0 150%;*/
  background-attachment: fixed;
  background-size: 100%;
  /*padding-bottom: 5%;*/
  height: 300px;
}

.contact {
  /*background-color: #9DADAD;*/
  opacity: 0.9;
}

.contact-header {
  font-size: calc(30px + 2vw);
  padding-top: 2.5%;
  padding-bottom: 1%;
  font-variant: small-caps;
  color: white;
  text-shadow: 0 0 12px black;
  font-weight: 800;
  letter-spacing: 2px;
}

input, textarea {
  /*border-radius: 5px;*/
  outline: none;
  border: 3px solid white;
  font-size: 25px;
  letter-spacing: 1px;
}

input:focus, textarea:focus {
  outline: none;
  border: 3px solid #00BCD4;
}

.contact-container {
  /*background-color: #edfdff;*/
  background-color: #F7F7F7;
  font-family: var(--main-body);
  width: 100%;
}

.contact-label {
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 800;
  font-family: var(--main-font);
}

.send-message-button {
  font-family: var(--main-font);
  font-size: 22px;
  letter-spacing: 1px;
  background-color: #00BCD4;
  font-variant: small-caps;
  border: 0px;
  color: white;
  padding: 4px 11px;
  font-weight: 800;
}

.alert-danger, .alert-success {
  text-align: center;
  font-size: calc(15px + 0.5vw);
  font-weight: 800;
  padding: 1.75%;
}

/*
||||||||||||||||||||||| CURRENTPROJECTS |||||||||||||||||||||||
 */

.coverflow__container__1P-xE {
  /*background: transparent !important;*/
  background-color: #F5F5F5 !important;
}

.theme--link--2EYXGnYP:not(.theme--active--_5HYXGIE) {
  opacity: 1 !important;
}

.project-picture {
  max-width: 100%;
  max-height: 100vw;
  /*min-width: 300px;*/
  /*min-height: 300px;*/
  height: auto;
  /*padding-right: 0px !important;*/
  /*padding-left: 15px !important;*/
  /*margin-left: calc(-17.5px - 0.75vw);*/
  padding-bottom: 1%;
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
  border-radius: 5px;
  /*-webkit-transition: all 200ms ease-in;*/
  /*-ms-transition: all 200ms ease-in;*/
  /*-moz-transition: all 200ms ease-in;*/
  /*transition: all 200ms ease-in;*/
}

.project-picture:hover {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
  -webkit-transition: all 400ms ease-in;
  -ms-transition: all 400ms ease-in;
  -moz-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
}

.project-name {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  margin-top: 3%;
}

.project-body {
  background: white;
  opacity: 0.9;
  margin: 0 4%;
  border-radius: 5px;
  margin-bottom: 10%
}

.project-description {
  /*letter-spacing: 2px;*/
  font-size: 30px;
  font-weight: 600;
  font-variant: small-caps;
  text-align: center;
  padding: 0 7%;
  /*padding-left: calc(30px + 1.5vw);*/
}

i {
  font-size: calc(17px + 0.2vw);
  font-variant: small-caps;
}

b {
  font-size: calc(17px + 0.2vw);
  font-weight: bolder;
}

.project-role {
  padding-bottom: 10%;
}

/*
||||||||||||||||||||||| BLOG |||||||||||||||||||||||
 */
.blog, .blog-list {
  text-align: center;
}

.blog {
  background-image: url('../public/img/blog.jpeg');
  /*background-position: 40% 70%;*/
  height: 400px;
  background-attachment: fixed;
  /*padding-bottom: 10%;*/
  background-repeat: no-repeat;
  background-size: 100%;
  /*margin: 0px 100px;*/
}

.blog-logo {
  margin-top: 5%;
  margin-bottom: 2%;
  width: calc(20vw + 300px);
}

.blogs {
  background-color: rgba(0,0,0,0.1);
}

.blog-description, .blog-header {
  font-variant: small-caps;
  font-size: 25px;
  font-weight: 800;
  color: white;
  text-shadow: 0px 0px 12px black;
  letter-spacing: 2px;
}

.blog-header {
  padding-top: 2%;
  font-size: calc(27.5px + 1vw);
}

.blog-list {
  margin: 0px 5%;
  padding-bottom: 2%;
}

.blog-list:hover {
  margin: 0px 5%
  box-shadow: 0px 0px 10px #000000;
  z-index: 2;
  -webkit-transition: all 350ms ease-in;
  -webkit-transform: scale(1.05);
  -ms-transition: all 350ms ease-in;
  -ms-transform: scale(1.05);
  -moz-transition: all 350ms ease-in;
  -moz-transform: scale(1.05);
  transition: all 350ms ease-in;
  transform: scale(1.05);
  padding-bottom: 2%;
}

.blog-list-entry {
  /*background-color: rgba(157,236,249,0.3);*/
  /*background-color: rgba(249,184,239,0.2);*/
  margin: 0 10%;
  border: 1px solid black;
  background-color: white;
}

.blog-title {
  color: black;
  /*text-shadow: 0px 0px 12px black;*/
  padding-top: 3%;
  font-size: 25px;
  font-weight: 800;
  font-variant: small-caps;
  letter-spacing: 2px;
}

.blog-summary {
  /*text-shadow: 0px 0px 12px black;*/
  /*color: white;*/
  font-size: 18px;
  padding: 1% 5%;
  font-weight: 800;
  letter-spacing: 2px;
}

.blog-link {
/*  text-shadow: 0px 1px 1px #000,
      0px -1px 1px #000,
      -1px 0px 1px #000,
      1px 0px 1px #000;*/
  color: black;
}

.blog-link:hover, .blog-link:active {
/*  text-shadow: 0px 1px 1px #000,
      0px -1px 1px #000,
      -1px 0px 1px #000,
      1px 0px 1px #000;*/
  color: black;
  text-decoration: none;
}

/*
||||||||||||||||||||||| FOOTER |||||||||||||||||||||||
 */

.footer {
  background-color: #F5F5F5;
}

.footer-icons, .intro-icons {
  font-size: 20px;
  padding: 2% 0;
  text-align: center;
}

.intro-icons {
  color: white;
  transform: translate(0, 100%);
}

.a-icons {
  padding: 0px 5px;
  color: black;
}

.a-intro {
  padding: 0px 5px;
  color: white;
  text-shadow: 0px 0px 12px black;
}

.a-icons:hover, .a-intro:hover {
  padding: 0px 5px;
  -webkit-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  /*color: #c98cff;*/
  color: #66d7e5 !important;
}

.footer-copyright {
  padding-left: 2.75%;
  font-size: large;
  font-weight: 600;
  opacity: 0.5;
}

.one-test {
  border: none;
  margin: 3%;
  width: 100%;
  padding-top: 19%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../public/img/Plantr.png);
}

.first-col {
  margin-left: 5.5%;
}

/*
||||||||||||||||||||||| NUTRITION |||||||||||||||||||||||
 */

.offering-intro {
  padding: 1% 5%;
}

.pamela-quote {
  font-weight: 800;
  text-align: center;
  color: white;
  text-shadow: 0 0 12px black;
  letter-spacing: 1.5px;
}

.nutrition-intro {
  font-family: var(--main-font);
  font-weight: 800;
  font-size: 40px;
  font-variant: small-caps;
  text-align: center;
  letter-spacing: 3px;
  color: white;
  text-shadow: 0 0 12px black;
}

.nutrition-header {
  font-weight: 800;
  font-size: 21px;
  font-family: var(--main-intro);
  font-variant: small-caps;
  padding-bottom: 2%;
  margin: 0 15%;
  text-align: center;
  text-shadow: 0 0 12px black;
  color: white;
  letter-spacing: 1.5px;
}

.offering-price {
  font-family: var(--main-font) !important;
  font-size: 20px;
  padding-top: 15px;
  font-weight: 800;
}

.offering-description {
  padding: 15px 0;
  font-family: var(--main-body) !important;
  font-size: 18px;
}

.offering-title {
  font-family: var(--main-header) !important;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 17px;
}

/*
||||||||||||||||||||||| LANDING |||||||||||||||||||||||
 */
.landing-slider-1 {
  background-image: url('../public/img/img-1.jpg');
}

.landing-slider-5 {
  background-image: url('../public/img/img-2.jpg');
}

.landing-slider-2 {
  background-image: url('../public/img/img-3.jpg');
}

.landing-slider-3 {
  background-image: url('../public/img/img-4.jpg');
}

.landing-slider-4 {
  background-image: url('../public/img/img-5.jpg');
}

.landing-slider-1, .landing-slider-2, .landing-slider-3, .landing-slider-4, .landing-slider-5, .slick-slide {
  transform: scale(1.22);
  background-size: cover;
  background-position: center center !important;
  height: 100vh !important;
}

.intro-name {
  font-family: var(--main-body);
  color: white;
  font-size: 45px;
  font-weight: 800;
  margin: auto;
  letter-spacing: 4.5px;
  text-shadow: 0px 0px 12px black;
}

.intro-description {
  font-family: var(--main-header);
  color: white;
  font-size: 18px;
  margin: auto;
  padding: 15px 0;
  letter-spacing: 2px;
  text-shadow: 0px 0px 12px black;
}

.enter-button > .enter{
  font-family: var(--main-header);
  margin: auto;
  background-color: transparent;
  color: white;
  outline: none;
  margin-top: 10px;
  font-size: 20px;
  letter-spacing: 1px;
  border: 3.5px solid rgba(255,255,255,0.8);
  padding: 2.5px 11px;;
  text-shadow: 0px 0px 12px black;
}

.enter:hover {
  cursor: pointer
}

/*.enter-button:hover > .enter:hover {
  background-color: white;
  color: purple;
}*/

.intro {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.coverflow__container__1P-xE {
  width: 50% !important;
  height: 70vh !important;
}

/*
||||||||||||||||||||||| RECIPES |||||||||||||||||||||||
 */

 /*  --main-font: 'Cormorant Garamond', serif;
   --main-header: 'Playfair Display', serif;
   --main-body: 'EB Garamond', serif;
   --main-intro: 'Muli', serif;
 */

.recipe-picture:hover {
  cursor: pointer;
}

.recipe-title {
  font-family: var(--main-font);
  color: black !important;
  font-size: 30px !important;
  font-weight: 800 !important;
  letter-spacing: 1.5px !important;
  background-color: #66d7e5;
}

.recipe-benefits {
  margin: 0 2%;
}

.recipe-header, .recipe-ingredients {
 font-family: var(--main-header);
 color: black !important;
 font-size: 25px !important;
 font-weight: 800 !important;
 letter-spacing: 1.5px !important;
}

.recipe-step {
 font-family: var(--main-body);
 color: black !important;
 font-size: 22px !important;
 /*font-weight: 800 !important;*/
 letter-spacing: 1px !important;
}

.recipe-list {
  margin-left: 2%;
}

.recipe-ingredients {
  margin-left: -1.5% !important;
}
