/*@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");*/

strong {
  font-size: 30px;
  color: white;
  text-shadow: 0px 0px 15px black;
}

body {
  background: url('../public/img/fog.jpg');
  background-attachment: fixed;
  background-position: center;
  font-family: 'Quicksand';
}

/*
||||||||||||||||||||||| ABOUT |||||||||||||||||||||||
 */

.about-container {
  margin-top: 10%;
  text-align: center;
  background-color: rgba(255,255,255,0.6);
  padding: 0 5%;
  color: black;
  max-width: 50%;
}

.about-inf0 {
}

.about-header {
  letter-spacing: 1px;
  margin: auto;
  font-size: 200%;
  padding-top: 7%;
  padding-bottom: 1%;
  font-family: 'Quicksand', serif;
  font-weight: 800;
}

.about-divide {
  margin: auto;
  padding: 1%;
  font-weight: 800;
  font-family: 'Quicksand', serif;
  font-size: 120%;
}

.line-decoration {
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 5px 0 3%;
}

.about-description {
  padding: 3%;
  font-size: 130%;
  margin-bottom: 5%;
}

/*
||||||||||||||||||||||| NAVBAR |||||||||||||||||||||||
 */

.menu-button {
  font-size: 18px;
  font-weight: 800;
  color: white;
  text-shadow: 0px 0px 15px black;
 }

#navbarNavDropdown{
  flex-direction: row-reverse !important;
}

.mr-auto {
  margin-right: 0 !important;
}

.navbar {
  background: none;
  margin-bottom: 20px;
  font-weight: 800
}

.btn-secondary {
  background: none !important;
  border: none !important;
  font-family: 'Quicksand';
}

.btn {
  -webkit-appearance: none !important;
  border: none !important;
}

.navbar-toggler-icon {
  margin-top: -1px !important;
  padding-left: 35px;
}

.dropdown-menu {
  background: none !important;
  left: -15px !important;
  border: none !important;

}

.nav-link {
  font-family: 'Quicksand';
  font-weight: 800 !important;
  color: white !important;
  text-shadow: 0px 0px 15px black;
}
/*.navMaster {
  position: fixed;
}*/

/*
||||||||||||||||||||||| PAGEHEADER |||||||||||||||||||||||
 */
 hr {
  /*option 1*/
/*  margin-left: auto;
  margin-right: auto;
  border: 0;
  height: 5px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));*/
  /*option 2*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: 5px;
  /*option 3*/
/*  height: 12px;
   border: 0;
   box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);*/
 }

.pageHeader {
  text-align: center;
  padding: 10% 0px;
}

.name-header {
  font-size: calc(35px + 2vw);
  letter-spacing: 1px;
  color: white;
  text-shadow: 0px 0px 15px black;
}

.description-header {
  font-size: calc(15px + 0.5vw);
  padding-top: 10px;
  padding-bottom: 7%;
  color: white;
  text-shadow: 0px 0px 15px black;
}

/*
||||||||||||||||||||||| CONTACT |||||||||||||||||||||||
 */
.form-styling, .contact-header {
  padding-left: 5%;
  margin: 0px 6%;
}

.contact {
  background-color: #9DADAD;
  opacity: 0.9;
}

.contact-header {
  font-size: calc(30px + 2vw);
  padding-top: 2.5%;
  padding-bottom: 1%;
  font-variant: small-caps;
}

input, textarea {
  /*border-radius: 5px;*/
  outline: none;
  border: 3px solid #9DADAD;
  font-size: 25px;
  letter-spacing: 1px;
}

input:focus, textarea:focus {
  outline: none;
  border: 3px solid black;
}

.contact-container {
  opacity: 0.5;
  font-family: 'Quicksand';
  font-weight: bold;
  width: 100%;
}

.send-message {
  padding-left: calc(26px + 0.5vw);
  padding-top: calc(10px + 0.5vw);
}

.contact-label {
  font-size: 22px;
  letter-spacing: 1px;
  font-variant: small-caps;
}

.send-message-button {
  font-family: 'Quicksand';
  font-size: 22px;
  letter-spacing: 1px;
  background-color: white;
  font-variant: small-caps;
  border: 0px;
  padding: 4px 11px;
  font-weight: 800;
}

.alert-danger, .alert-success {
  text-align: center;
  font-size: calc(15px + 0.5vw);
  font-weight: 800;
  padding: 1.75%;
}

/*
||||||||||||||||||||||| CURRENTPROJECTS |||||||||||||||||||||||
 */

.theme--link--2EYXGnYP:not(.theme--active--_5HYXGIE) {
  opacity: 1 !important;
}

.project-picture {
  max-width: 100%;
  max-height: 100vw;
  /*min-width: 300px;*/
  /*min-height: 300px;*/
  height: auto;
  /*padding-right: 0px !important;*/
  /*padding-left: 15px !important;*/
  /*margin-left: calc(-17.5px - 0.75vw);*/
  padding-bottom: 1%;
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
  border-radius: 5px;
  /*-webkit-transition: all 200ms ease-in;*/
  /*-ms-transition: all 200ms ease-in;*/
  /*-moz-transition: all 200ms ease-in;*/
  /*transition: all 200ms ease-in;*/
}

.project-picture:hover {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
  -webkit-transition: all 400ms ease-in;
  -ms-transition: all 400ms ease-in;
  -moz-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
}

.project-name {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  margin-top: 3%;
}

.project-body {
  background: white;
  opacity: 0.9;
  margin: 0 4%;
  border-radius: 5px;
  margin-bottom: 10%
}

.project-description {
  /*letter-spacing: 2px;*/
  font-size: 30px;
  font-weight: 600;
  font-variant: small-caps;
  text-align: center;
  padding: 0 7%;
  /*padding-left: calc(30px + 1.5vw);*/
}

i {
  font-size: calc(17px + 0.2vw);
  font-variant: small-caps;
}

b {
  font-size: calc(17px + 0.2vw);
  font-weight: bolder;
}

.project-role {
  padding-bottom: 10%;
}

/*
||||||||||||||||||||||| BLOG |||||||||||||||||||||||
 */
.blog, .blog-list {
  text-align: center;
}

.blog {
  margin: 0px 100px;
}

.blog-description, .blog-header {
  font-variant: small-caps;
  font-size: 20px;
  font-weight: 800;
  color: white;
  text-shadow: 0px 0px 12px black;
}

.blog-header {
  font-size: calc(27.5px + 1vw);
  letter-spacing: 1px;
}

.blog-list {
  margin: 0px 5%;
  padding-bottom: 2%;
}

.blog-list:hover {
  margin: 0px 5%
  box-shadow: 0px 0px 10px #000000;
  z-index: 2;
  -webkit-transition: all 350ms ease-in;
  -webkit-transform: scale(1.05);
  -ms-transition: all 350ms ease-in;
  -ms-transform: scale(1.05);
  -moz-transition: all 350ms ease-in;
  -moz-transform: scale(1.05);
  transition: all 350ms ease-in;
  transform: scale(1.05);
  padding-bottom: 2%;
}

.blog-list-entry {
  background-color: rgba(157,236,249,0.3);
  /*background-color: rgba(249,184,239,0.2);*/
  margin: 0 10%;
}

.blog-title {
  color: white;
  text-shadow: 0px 0px 12px black;
  padding-top: 3%;
  font-size: 25px;
  font-weight: 800;
  font-variant: small-caps;
  letter-spacing: 2px;
}

.blog-summary {
  text-shadow: 0px 0px 12px black;
  color: white;
  font-size: 18px;
  padding: 1% 5%;
  font-weight: 800;
  letter-spacing: 2px;
}

.blog-link {
/*  text-shadow: 0px 1px 1px #000,
      0px -1px 1px #000,
      -1px 0px 1px #000,
      1px 0px 1px #000;*/
  color: white;
}

.blog-link:hover, .blog-link:active {
/*  text-shadow: 0px 1px 1px #000,
      0px -1px 1px #000,
      -1px 0px 1px #000,
      1px 0px 1px #000;*/
  color: white;
  text-decoration: none;
}

/*
||||||||||||||||||||||| FOOTER |||||||||||||||||||||||
 */

.footer {
  background-color: white;
}

.footer-icons {
  font-size: calc(20px + 0.5vw);
  padding: 0px 2%;
}

.a-icons {
  padding: 0px 1%;
  color: black;
}

.a-icons:hover {
  padding: 0px 1%;
  -webkit-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  color: #9bf1ff;
}

.footer-copyright {
  padding-left: 2.75%;
  font-size: large;
  font-weight: 600;
  opacity: 0.5;
}

.one-test {
  border: none;
  margin: 3%;
  width: 100%;
  padding-top: 19%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../public/img/Plantr.png);
}


.first-col {
  margin-left: 5.5%;
}
